:root {
    --white: #FFFFFF;
    --almostWhite: #EFF1F2;
    --darkGrey: #25282A;
    --black: #000000;

    --blue: #0059D9;
    --blueViolet: #71ABFF;
    --grey: #C5CDD7;

    --facebook: #395A99;
    --vk: #4d7198;
    --telegram: #2CA5E0;
}

* {
    -webkit-box-sizing: border-box;
    /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;
    /* Firefox, other Gecko */
    box-sizing: border-box;
    /* Opera/IE 8+ */
}

html,
body {
    margin: 0;
    height: 100%;
}

h1,
h2,
h3,
a {
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    color: var(--black);
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 40px;
    line-height: 44px;
}

h2 {
    font-size: 32px;
    line-height: 36px;
}

h3 {
    font-size: 18px;
    line-height: 24px;
}

p {
    font-family: 'PT Sans', sans-serif;
    font-size: 16px;
    line-height: 20px;
    margin: 0;
    padding: 0;
}

.paragraph_small {
    font-family: 'PT Sans', sans-serif;
    font-size: 14px;
    line-height: 20px;
}

.paragraph_mono {
    font-family: 'PT Mono', monospace;
    font-size: 14px;
    line-height: 20px;
}

header {
    background-color: var(--almostWhite);
    text-align: center;

    height: 100%;
}

.header_wrapper {
    padding-top: 124px;
    padding-bottom: 124px;
    align-content: center;
    text-align: center;
}

.wrapper {
    padding-top: 100px;
    padding-bottom: 100px;
    margin-right: auto;
    margin-left: auto;
    max-width: calc(100% - 80px);
}

.content_wrapper {
    margin-right: auto;
    margin-left: auto;
    max-width: 700px;
}

.button {
    height: 52px;
    border-radius: 4px;
    color: var(--white);
    background-color: var(--blue);
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    font-size: 18px;
    border: 0;
    outline: none;
}

.header__button {
    width: 280px;
}

.footer__button {
    width: 100%;
}

.header__avatar {
    background-color: #0059D9;
    width: 340px;
    border-radius: 50%;
    margin-bottom: 36px;
}

.header__title {
    margin-bottom: 8px;
}

.header__description {
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
}

.expectations {
    background-color: var(--white);
    margin-right: auto;
    margin-left: auto;
}

.expectations__header {
    margin-bottom: 16px;
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
}

.expectations__tabs {
    max-width: 700px;
    margin: 0 auto;
    overflow: hidden;
    list-style: none;
    padding: 0;
}

.expectations__tab {
    width: 100%;
    overflow: hidden;
    border-top: 1px solid var(--grey);
}

.expectations__tab-label {
    display: flex;
    justify-content: space-between;
    padding: 14px 0 12px;
    color: var(--blue);
    cursor: pointer;
    transition: all 0.2s linear;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 24px;
}

.expectations__tab-label:hover {
    color: var(--black);
}

.expectations__tab-label:after {
    content: "\002B";
    width: 24px;
    height: 24px;
    font-size: 32px;
    text-align: center;
    transition: all 0.2s linear;
}

.expectations__tab-content {
    max-width: 520px;
    max-height: 0px;
    text-align: left;
    color: #2c3e50;
    background: var(--white);
}

input[type="radio"] {
    display: none;
}

input:checked+.expectations__tab-label {
    color: var(--black);
}

input:checked+.expectations__tab-label:after {
    transform: rotate(45deg);
}

input:checked~.expectations__tab-content {
    max-height: 1000px;
}

.works {
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    background-color: var(--darkGrey);
}

.works__title {
   color: var(--white);
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 8px;
}

.works__description {
    color: var(--white);
    margin-bottom: 80px;
}

.works__item-title {
    color: var(--white);
}

.works__item-site {
    color: var(--blueViolet);
    margin-bottom: 20px;
}

.slider {
    position: relative;
}

.slider__input {
    display: none;
}

.slider__inner {
    overflow: hidden;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.08), 0 7px 22px 0 rgba(0, 0, 0, 0.12);
    border-radius: 8px;
}

.slider__slides {
    width: 400%;
    transition: transform 0.8s ease;
}

.slider__img {
    float: left;
    width: 25%;
    object-fit: cover;
}

.slider__controls {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: -40px;
    z-index: 100;
    text-align: right;
}

.slider__label {
    display: inline-block;
    width: 16px;
    height: 16px;
    position: relative;
    font-size: 0;
    cursor: pointer;
}

.slider__label:before {
    content: "";
    display: inline-block;
    position: absolute;
    left: 4px;
    top: 4px;
    width: 6px;
    height: 6px;
    background: #71ABFF;
    cursor: pointer;
    border: 1px solid #71ABFF;
    border-radius: 50%;
    box-shadow: 0 0 2px rgba(0, 0, 0, .8);
    transition: background-color .2s, border-color .2s;
}

.slider__label:hover:before {
    background: #fff;
    border-color: #fff;
}

#slider-btn-1:checked ~ .slider__controls .slider__label[for="slider-btn-1"]:before,
#slider-btn-2:checked ~ .slider__controls .slider__label[for="slider-btn-2"]:before,
#slider-btn-3:checked ~ .slider__controls .slider__label[for="slider-btn-3"]:before {
    background-color: transparent;
    }

#slider-btn-1:checked ~ .slider__inner .slider__slides {
    transform: translate(0);
}
#slider-btn-2:checked ~ .slider__inner .slider__slides {
    transform: translate(-25%);
}
#slider-btn-3:checked ~ .slider__inner .slider__slides {
    transform: translate(-50%);
}


.works__item-description {
    order: 2;
    width: 74%;
    text-align: left;
    color: var(--white);
}

.footer {
    background-color: var(--almostWhite);
    text-align: center;
    margin: 0 auto;
}

.footer__title {
    margin-bottom: 16px;
}

.buttons_row {
    display: flex;
    flex-direction: row;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 20px;
    justify-content: center;
}

.buttons_row__button {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    margin-right: 16px;
    color: var(--white);
}

.buttons_row__button_telegram {
    font-size: 48px;
    color: var(--telegram);
}

.centered {
    padding-top: 8px;
}

.facebook {
    font-size: 30px;
    background-color: var(--facebook);
}

.vk {
    font-size: 28px;
    background-color: var(--vk);
}

.telegram {
    background-color: var(--telegram);
}

.footer__description {
    margin-bottom: 40px;
}

.footer__element_line {
    display: flex;
    margin-bottom: 20px;
}

.footer__element {
    border: solid 1px rgba(31, 64, 111, 0.2);
    border-radius: 4px;
    background-color: var(--white);
    margin-right: 20px;
    padding: 10px 12px;
    flex: 1 1;
    font-family: 'PT Sans', sans-serif;
    font-size: 16px;
    line-height: 20px;
    outline: none;
}

.footer__element:nth-child(2) {
    margin-right: 0;
}

.footer__message {
    border: solid 1px rgba(31, 64, 111, 0.2);
    border-radius: 4px;
    background-color: var(--white);
    padding: 10px 12px;
    font-family: 'PT Sans', sans-serif;
    font-size: 16px;
    line-height: 20px;
    max-width: 700px;
    width: 100%;
    resize: none;
    height: 136px;

    outline: none;
}

.footer__file {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
}

.footer__file_label {
    padding-top: 6px;
    padding-bottom: 10px;
    width: 100%;
    height: 36px;
}

.footer__file+label {
    display: block;
    border: solid 1px rgba(31, 64, 111, 0.2);
    border-radius: 4px;
    font-family: 'PT Sans', sans-serif;
    font-size: 16px;
    line-height: 20px;
    color: var(--blue);
    margin-bottom: 16px;
    cursor: pointer;
}


@media screen and (max-width: 1000px) {

    h1,
    h2 {
        font-size: 32px;
        line-height: 36px;
    }

    .header_wrapper {
        padding-top: 165px;
        padding-bottom: 165px;
    }

    .header__description {
        max-width: 280px;
    }

    .header__avatar {
        width: 250px;
        margin-bottom: 32px;
    }

    .wrapper {
        padding-top: 52px;
        padding-bottom: 52px;
    }

    .works__description {
        margin-bottom: 60px;
    }

    .works__item-slider {
        flex-direction: column;
    }

    .works__item-description {
        width: 100%;
    }

    .works__item-site {
        margin-bottom: 16px;
    }

    .works__item-image {
        margin-bottom: 16px;
    }

    .slider {
        margin: 0 auto;
        margin-bottom: 16px;
    }

    .footer__description {
        margin-bottom: 16px;
    }

    .footer__element_line {
        flex-direction: column;
        margin-bottom: 16px;
    }

    .footer__element {
        width: 100%;
        margin-right: 0;
        margin-bottom: 16px;
    }

    .footer__element:nth-child(2) {
        margin-bottom: 0;
    }

    .footer__file {
        margin-bottom: 16px;
    }
}

@media screen and (max-width: 320px) {
    .header_wrapper {
        padding-top: 88px;
        padding-bottom: 87px;
    }

    .header__avatar {
        width: 205px;
    }

    .header__button {
        max-width: 280px;
        width: 100%;
    }

    .wrapper {
        max-width: calc(100% - 40px);
    }
}